#========================================
#     Config File for DASH Encoder
#========================================

#========================================
#             General Options
#========================================

dest-directory : /var/www/media/sintel-dash/


video-encoder : x264
audio-encoder : ffmpegAAC
multiplexer : mp4box

add-non-segmented

#use-ffmpeg-pipe
ffmpeg-opt : -f rawvideo
input-res : 854x480
#========================================
#             x264 Options
#========================================

bitrate : 300

#bitrate : 250@480x360|500@480x360|1000
#bitrate : 200|400|600|1000
statistics : stat.temp
gop : 48
scenecut : 0 
profile : baseline
preset : slow
input : /var/www/media/sintel/sintel_trailer_2k_480p24.y4m
#input : /home/stefan/foreman_cif.y4m
#input : /home/stefan/kingkong.mp4
#input : /media/Volume/MI200802010028-video_newsroom_hd_1080_p29_97-channelSelectionT0C0_T0C1.mp4
passes : 1
const-filesize : 0

#Additional Options for Encoding

#pass1 : --frames 500 --fps 29.970029
pass1 : --verbose --fps 24
pass2 : --verbose --psnr 

#========================================
#             FFMPEG AAC Options
#========================================

# [channels, samplerate, bitrate]
#audio-quality : 2,44100,48|2,44000,128
#audio-quality : 2,44100,48
audio-quality :  

audio-input : /var/www/media/sintel/sintel_trailer-audio.flac
audio-codec : libfaac

#========================================
#             MP4Box Options
#========================================

#AV Muxing
#mux-combi : 300@48|600@128
mux-combi :  

fragment-size : 2000
segment-size : 2000
rap-aligned
segment-name :  sintel
folder-prefix : sintel


#========================================
#             MPD Options
#========================================
mpd-name : sintel.mpd
url-root : http://localhost/media/sintel
#set-base-url 
mpdActStandardPostfix : _actVersion.mpd
duration : 9M4S
transform-mpd
minBufferTime : 2.0S
segDuration : 2
#========================================
#             Other Options
#========================================
