#========================================
#     Config File for DASH Encoder
#========================================

#========================================
#             General Options
#========================================

dest-directory : /opt/lampp/htdocs/sintel_360p/


video-encoder : x264
audio-encoder : ffmpegAAC
multiplexer : mp4box

#========================================
#             x264 Options
#========================================

#bitrate : 500|1000|2000|4000|6000|10000

#bitrate : 250@480x360|500@480x360|1000
bitrate : 1000|2000
statistics : stat.temp
gop : 48
scenecut : 0
profile : baseline
preset : medium
input : /home/stefan/Downloads/sintel_trailer_2k_480p24.y4m

#Additional Options for Encoding
x264pass1 :   
x264pass2 :   

#========================================
#             FFMPEG AAC Options
#========================================

# [channels, samplerate, bitrate]
#audio-quality : 2,44100,48|2,44000,128|2,48000,192|6,44100,224|6,48000,448
audio-quality : 2,48000,128|6,48000,448

audio-input : /home/stefan/sintel_trailer-audio.flac
audio-codec : libfaac

#========================================
#             MP4Box Options
#========================================

#AV Muxing
#mux-combi : 1000@128|2000@448

fragment-size : 2000
segment-size : 2000
rap-aligned
segment-name : sintel_dash2
folder-prefix : sintel


#========================================
#             MPD Options
#========================================
mpd-name : sintel.mpd
url-root : http://localhost/sintel_360p/


#========================================
#             Other Options
#========================================