#========================================
#     Config File for DASH Encoder
#========================================

#========================================
#             General Options
#========================================

dest-directory : /opt/lampp/htdocs/foreman_stats/


video-encoder : x264
audio-encoder : ffmpegAAC
multiplexer : mp4box

store-psnr 
sql-host : localhost
sql-user : root
sql-pw : 
sql-database : dash

add-non-segmented

use-ffmpeg-pipe
ffmpeg-opt : -f rawvideo


#========================================
#             x264 Options
#========================================

#bitrate : 500|1000|2000|4000|6000|10000

#bitrate : 250@480x360|500@480x360|1000
bitrate : 300
statistics : stat.temp
gop : 48
scenecut : 0
profile : baseline
preset : slow
#input : /media/Volume/big_buck_bunny_480p24.y4m
input : /home/stefan/Alex.mp4
input-res : 1920x1080
passes : 1
const-filesize : 0

#Additional Options for Encoding

pass1 : --verbose --psnr 
pass2 : --verbose --psnr 

#========================================
#             FFMPEG AAC Options
#========================================

# [channels, samplerate, bitrate]
#audio-quality : 2,44100,48|2,44000,128|2,48000,192|6,44100,224|6,48000,448
audio-quality :  

audio-input : /home/stefan/sintel_trailer-audio.flac
audio-codec : libfaac

#========================================
#             MP4Box Options
#========================================

#AV Muxing
#mux-combi : 1000@128|2000@448

fragment-size : 2000
segment-size : 2000
rap-aligned
segment-name :  foreman
folder-prefix : foreman


#========================================
#             MPD Options
#========================================
mpd-name : foreman.mpd
url-root : http://localhost/foreman_stats/
set-base-url 

#========================================
#             Other Options
#========================================